/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */
@font-face                        { font-family: '116watermelon'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/116watermelon.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face                        { font-family: 'HSBombaram'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face                        { font-family: 'NanumBarunpen'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff'); font-weight: normal; font-style: normal; }

$font-base:                       'NanumBarunpen', 'Nanum Gothic','NanumSquare', sans-serif;
$font-nanum-gothic:               'Nanum Gothic',  sans-serif !default;
$font-nanum-square:               'NanumSquare', sans-serif !default;
$font-nanum-barunpen:             'NanumBarunpen', sans-serif !default;
$font-116watermelon:              '116watermelon', $font-base !default;
$font-hsbombaram:                 'HSBombaram', $font-base !default;
                          
$global-font-family:              $font-base !default;
$header-font-family:              $font-116watermelon !default;

$base-font-size:                  16px !default;
$font-size-1:                     1.75rem !default; // 28px
$font-size-2:                     1.25rem !default; // 20px
$font-size-3:                     1.125rem !default; //18px

$letter-spacing-1:                5px !default;
/*
   Colors
   ========================================================================== */
$white-color:                     #ffffff !default;
$white-color-dark:                #eeeeee !default;
$gray-color:                      #4e4e4e !default;
$black-color:                     #000000 !default;
$black-color-light:               #1e1e1e !default;

$primary-color:                   #19b6b6 !default;
$primary-color-light-dark:        #1cacac !default;
$primary-color-dark:              #0e7474 !default;
$focus-color:                     $primary-color !default;

$base-bgcolor:                    $white-color !default;
$header-bgcolor:                  $primary-color !default;

$text-color:                      $black-color-light !default;
$header-color:                    $white-color !default;
                          
/*                        
   Other                  
   ========================================================================== */
$index-fir:                       999 !important;
$index-sec:                       998 !important;

/* header */
$header-height:                   80px !default;

$header-loginopen-width:          120px !default;
$header-loginopen-height:         $header-height !default;

/* Login */
$login-content-width:             500px !default;
$login-content-height:            301px !default;
$login-border-radius:             20px !default;

$login-closebtn-width:            40px !default;
$login-closebtn-height:           40px !default;

$login-form-padding-tb:           40px !default;
$login-form-padding-lr:           50px !default;

$login-inputwrap-height:          162px !default;

$login-idpwwrap-height:           49px !default;
$login-idpwwrap-bottom:           32px !default;

$login-input-title-width:         35% !default;
$login-input-title-lineheight:    51px !default; 

$login-login-input-width:         65% !default;

$login-submit-button-height:      60px !default;

/* Infographic Gallery */
$infographic-img-height:      468.89px !default;
$infographic-title-bottombar: 180px !default;