#infographicGallery {
  overflow: auto;
  margin-top: 80px;
  width: 100%;
  min-width: 1500px;
  background-color: $white-color-dark;
  text-align: center;

  .infographic-wrap {
    display: inline-block;
    width: 80%;
    padding: 20px;
  }
}