.infographic-detail {
  &.closeDetail {
    .detail-background {
      height: 0%; 
    }
    .detail-content {
      display: none;  
    }
  }

  .detail-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: $index-5;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0, 0.7);
    transition: 0.3s;
  }

  .detail-content {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: ($detail-content-height / -2);
    margin-top: calc(#{$detail-content-height} / -2);
    margin-top: -moz-calc(#{$detail-content-height} / -2);
    margin-top: -webkit-calc(#{$detail-content-height} / -2);
    margin-top: -ms-calc(#{$detail-content-height} / -2);
    margin-left: ($detail-content-width / -2);
    margin-left: calc(#{$detail-content-width} / -2);
    margin-left: -moz-calc(#{$detail-content-width} / -2);
    margin-left: -webkit-calc(#{$detail-content-width} / -2);
    margin-left: -ms-calc(#{$detail-content-width} / -2);
    margin-left: ($detail-content-width / -2);
    width: $detail-content-width;
    height: $detail-content-height;
    z-index: $index-4;
    background-color: $white-color;
    border: 5px solid $primary-color;
    border-radius: $detail-border-radius;

    #detailClose.closebtn {
      position: absolute;
      top: 0px;
      right: 0px;
      width: $detail-closebtn-width;
      height: $detail-closebtn-height;
      background-color: transparent;
      font-size: $font-size-1;
      font-weight: bold;
      z-index: $index-4;
    }

    .detail-img {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      
      .detail--img {
        height: 100%;
        border-top-left-radius: $detail-border-radius - 7px;
        border-bottom-left-radius: $detail-border-radius - 7px;
      }
    }

    .detail-info {
      padding: 20px;
      float: left;
      width: 50%;
      height: 100%;
      overflow: scroll;

      .detail--info {
        padding: 30px 0;
        border-bottom: 3px dotted $primary-color;

        .nota-bene {
          color: $primary-color-dark-dark;
          font-size: $font-size-3;
          text-align: center;
        }

        .detail-title {
          color: $primary-color-dark-dark;
          font-size: $font-size-2;
          margin-bottom: 10px;
        }
  
        .detail-desc {
          color: $primary-color-dark-dark;
          font-size: $font-size-3;
        }
      }

      .detail-survey {
        padding-bottom: 30px;
        border-bottom: 3px dotted $primary-color;

        .survey-q {
          .q-title {
            color: $primary-color-dark-dark;
            font-size: $font-size-2;
            padding-bottom: 10px;
            padding-top: 30px;
          }

          .q-valuationBasis {
            li {
              text-align: left;
              display: inline-block;
              width: 80%;
              font-size: $font-size-3;
              color: $primary-color-dark-dark;
              padding-bottom: 5px;
            }
          }

          .q-score {
            position: relative;
            padding: 30px 0;

            .score-radio-list {
              .score-radio-item {
                position: relative;
                width: 80%;
                border-bottom: 1px dotted $primary-color-light-dark;

                input[type=radio] {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  &:checked {
                    ~ .check {
                      background-color: $white-color;
                      border: 8px solid $primary-color;
                    }

                    ~ label {
                      color: $primary-color-dark-dark;
                    }
                  }
                }

                label {
                  font-size: $font-size-3;
                  display: block;
                  padding: 10px;
                  cursor: pointer;
                }

                .check {
                  position: absolute;
                  top: 50%;
                  left: 0;
                  margin-top: -12.5px;
                  width: 25px;
                  height: 25px;
                  background-color: $gray-color-light;
                  border: 8px solid $gray-color-light;
                  border-radius: 100%;
                  transition: 0.3s;
                }

                &:hover {
                  color: $primary-color-dark-dark;
                  .check {
                    background-color: $white-color;
                    border: 8px solid $primary-color;
                  }
                }
              }
            }
          }
        }
      }

      .detail-survey-result {
        padding: 30px 0;
        border-bottom: 3px dotted $primary-color;

        .result-wrap {
          .result-q1,
          .result-q2 {
            color: $primary-color-dark;
          }
        }
      }

      .detail-survey-submit {
        padding: 30px 0;

        .survey-submit {
          font-size: $font-size-3;
          background-color: $primary-color-light-dark;
          color: $white-color;
          border: 3px solid $primary-color-light-dark;
          border-radius: $detail-border-radius;
          padding: 8px 22px;
          box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
          transition: 0.2s;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          -ms-transition: 0.2s;

          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
}