<html>
<head>
    <!-- 기타 Meta 정보 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Site Title -->
    <title>DSM 1학년들의 기후시그널 인포그래픽 온라인 전시회</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- 웹 폰트 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean" rel="stylesheet"> 
</head>
<body>
    <!-- DSM 과학 Header-->
    <header id="dsmhsHeader">
        <!-- DSMHS 로고 -->
        <div class="dsmhs-logo">
            <h1><a href="index.html">DSM 1학년들의 기후 시그널 인포그래픽 온라인 전시회</a></h1>
        </div>

        <!-- DSM 과학 Top Navigation -->
        <!--
        <nav class="gnb-wrap">
            <div class="gnblist">
                
            </div>
        </nav>
        -->

        <!-- DSM 로그인(학번/비밀번호) -->
        <div class="dsmhs-login">
            <div id="loginBackground" class="login-background"></div>
            <div id="loginContent" class="login-content">
                <button id="loginClose" class="closebtn" type="button">&times;</button>
                <form class="login-form" method="POST">
                    <div class="input-wrap">
                        <div class="id-wrap">
                            <div class="input-title">아이디</div>
                            <input type="text" title="아이디 입력" placeholder="아이디 입력" id="loginId" class="login-input" autocomplete="off">        
                        </div>
                        <div class="pw-wrap">
                            <div class="input-title">비밀번호</div>
                            <input type="password" title="비밀번호 입력" placeholder="비밀번호 입력" id="loginPw" class="login-input" autocomplete="off">                
                        </div>
                    </div>
                    <div class="submit-wrap">
                        <button type="submit" id="loginSubmit" class="login-submit">로그인</button>
                    </div>
                </form>
            </div>
            <div class="login-open">
                <button id="loginOpen" class="login-button" type="button">로그인</button>
            </div>
        </div>
    </header>

    <!-- Header와 Footer를 제외한 Content 부분 -->
    <div id="dsmhsContentWrap">
        <!-- DSM 과학 Top Banner -->
        <div id="dsmhsTopBanner"> 
            <h1 class="topbanner-title">DSM 기후시그널 인포그래픽 온라인 전시회에 오신 걸 환영합니다.</h1>
        </div>
        
        <!-- DSM 과학 Section -->
        <section id="dsmhsSection">
            <div class="infographicWrap">
                <!-- 인포그래픽 견본 1-->
                <div class="infographicContent 1">
                    <div class="infographic-img">
                        <img src="" width="100%" alt="Infographic 디자인 1">
                    </div>
                    <div class="infographic-title">
                        <h2>인포그래픽 견본 1</h2>
                    </div>
                    <div class="infographic-desc">
                        <p>쏼라쏼라 1</p>
                    </div>
                </div>
                <!-- 인포그래픽 견본 2-->
                <div class="infographicContent 2">
                    <div class="infographic-img">
                        <img src="" width="100%" alt="Infographic 디자인 1">
                    </div>
                    <div class="infographic-title">
                        <h2>인포그래픽 견본 2</h2>
                    </div>
                    <div class="infographic-desc">
                        <p>쏼라쏼라 2</p>
                    </div>
                </div>
                <!-- 인포그래픽 견본 3-->
                <div class="infographicContent 3">
                    <div class="infographic-img">
                        <img src="" width="100%" alt="Infographic 디자인 1">
                    </div>
                    <div class="infographic-title">
                        <h2>인포그래픽 견본 3</h2>
                    </div>
                    <div class="infographic-desc">
                        <p>쏼라쏼라 3</p>
                    </div>
                </div>
                <!-- 인포그래픽 견본 4-->
                <div class="infographicContent 4">
                    <div class="infographic-img">
                        <img src="" width="100%" alt="Infographic 디자인 1">
                    </div>
                    <div class="infographic-title">
                        <h2>인포그래픽 견본 4</h2>
                    </div>
                    <div class="infographic-desc">
                        <p>쏼라쏼라 4</p>
                    </div>
                </div>
                <!-- 인포그래픽 견본 5-->
                <div class="infographicContent 5">
                    <div class="infographic-img">
                        <img src="" width="100%" alt="Infographic 디자인 1">
                    </div>
                    <div class="infographic-title">
                        <h2>인포그래픽 견본 5</h2>
                    </div>
                    <div class="infographic-desc">
                        <p>쏼라쏼라 5</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- 인포그래픽 자세히 보기 -->
    <div class="infographic-detail">
        <div class="infographic-img"></div>
        <div class="infographic-title"></div>
        <div class="infographic-desc"></div>
        <div class="infographic-survey"></div>
    </div>

    <!-- DSM 과학 Footer -->
    <footer id="dsmhsFooter">
        <p class="copyright">
            &copy; 2019 <a href="https://cafe.naver.com/dsmhssci2019.cafe">DSMHS_SCI</a>. Made By <a href="https://github.com/Ho-Joon-Kim">김호준</a>, <a href="https://github.com/yunseo-h68">황윤서</a>.
        </p>
    </footer>

    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>