<html>
<head>
    <!-- 기타 Meta 정보 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Site Title -->
    <title>DSM 1학년들의 기후시그널 인포그래픽 온라인 전시회</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- 웹 폰트 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <!-- DSM 과학 Header-->
    <header id="dsmhsHeader">
        <!-- DSMHS 로고 -->
        <div class="dsmhs-logo">
            <h1>DSMHS</h1>
        </div>

        <!-- DSM 과학 Top Navigation -->
        <nav>
            <div class="dsmhs-login">
                <button class="login-button">로그인</button>
                <form method="POST">
                    <input type="text" title="학번 입력" placeholder="학번 입력" id="loginId" class="login-input" autocomplete="off">
                    <input type="password" title="사전에 받은 비밀번호 입력" placeholder="사전에 받은 비밀번호 입력" id="loginPw" ssclass="login-input" autocomplete="off">
                    <button id="loginSubmit" class="login-submit login-button">로그인</button>
                </form>
            </div>
        </nav>
    </header>

    <!-- Header와 Footer를 제외한 Content 부분 -->
    <div id="dsmhsContentWrap">
        <!-- DSM 과학 Top Banner -->
        <div class="dsmhs-topbanner"> 
            <h1>DSM 기후시그널 인포그래픽 온라인 전시회에 오신 걸 환영합니다.</h1>
        </div>
        
        <!-- DSM 과학 Section -->
        <section id="dsmhsSection">
            <!-- 인포그래픽 견본 1-->
            <div class="infographicWrap 1">
                <div class="infographic-img">
                    <img src="" width="100%" alt="Infographic 디자인 1">
                </div>
                <div class="infographic-title">
                    <h2>인포그래픽 견본 1</h2>
                </div>
                <div class="infographic-desc">
                    <p>쏼라쏼라 1</p>
                </div>
            </div>
            <!-- 인포그래픽 견본 2-->
            <div class="infographicWrap 2">
                <div class="infographic-img">
                    <img src="" width="100%" alt="Infographic 디자인 1">
                </div>
                <div class="infographic-title">
                    <h2>인포그래픽 견본 2</h2>
                </div>
                <div class="infographic-desc">
                    <p>쏼라쏼라 2</p>
                </div>
            </div>
            <!-- 인포그래픽 견본 3-->
            <div class="infographicWrap 3">
                <div class="infographic-img">
                    <img src="" width="100%" alt="Infographic 디자인 1">
                </div>
                <div class="infographic-title">
                    <h2>인포그래픽 견본 3</h2>
                </div>
                <div class="infographic-desc">
                    <p>쏼라쏼라 3</p>
                </div>
            </div>
            <!-- 인포그래픽 견본 4-->
            <div class="infographicWrap 4">
                <div class="infographic-img">
                    <img src="" width="100%" alt="Infographic 디자인 1">
                </div>
                <div class="infographic-title">
                    <h2>인포그래픽 견본 4</h2>
                </div>
                <div class="infographic-desc">
                    <p>쏼라쏼라 4</p>
                </div>
            </div>
            <!-- 인포그래픽 견본 5-->
            <div class="infographicWrap 5">
                <div class="infographic-img">
                    <img src="" width="100%" alt="Infographic 디자인 1">
                </div>
                <div class="infographic-title">
                    <h2>인포그래픽 견본 5</h2>
                </div>
                <div class="infographic-desc">
                    <p>쏼라쏼라 5</p>
                </div>
            </div>
        </section>
    </div>

    <!-- 인포그래픽 자세히 보기 -->
    <div class="infographic-detail">
        <div class="infographic-img"></div>
        <div class="infographic-title"></div>
        <div class="infographic-desc"></div>
        <div class="infographic-survey"></div>
    </div>

    <!-- DSM 과학 Footer -->
    <footer id="dsmhsFooter">
        &copy; 2019 <a href="https://cafe.naver.com/dsmhssci2019.cafe">DSMHS_SCI</a>. Made By <a href="https://github.com/Ho-Joon-Kim">김호준</a>, <a href="https://github.com/yunseo-h68">황윤서</a>.
    </footer>
</body>
</html>